@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
.logoTitle{
    font-family: 'Changa', sans-serif !important;
}
.opacity-0 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.product-item:hover{
    color:teal;
}
.item-image:hover{
    transform: scale(1.1);
}


/* home carousel */
.swiper-button-next, .swiper-button-prev {
  color: rgb(8, 205, 205); /* Change the color as needed */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: rgb(2, 84, 84); /* Change the hover color as needed */
}
/*-------*/